{{#video}}
<a href="{{ fileUrl }}" class="image video no-lightbox">
	{{{videoPlayButton}}}
	<img alt="{{fileTitle}}" src="{{thumbUrl}}" width="{{thumbWidth}}" height="{{thumbHeight}}" data-video-name="{{fileTitle}}" data-video-key="{{title}}" class="Wikia-video-thumb thumbimage">
	{{{videoOverlay}}}
</a>
{{/video}}